
body > header {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

body > header .dummy {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}

body > header h3 {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    margin: 0;
}

body > header nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 160px);
    text-align: right;
}

body > header nav ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

body > header nav li {
    display: inline-block;
    vertical-align: middle;
}

body > header nav li + li {
    margin-left: 15px;
}

body > main {
}

body > main .cover {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

body > main .cover-text-wrap {
    position: absolute;
    z-index: 10;
    width: 100%;
}

body > main .cover-text {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 10px;
}

body > main .cover-text h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

body > main .cover-text ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    width: 520px;
}

@media (max-width:780px) {
    body > main .cover-text ul {
        width: 65%;
    }
}

@media (max-width:620px) {
    body > main .cover-text ul {
        width: 70%;
    }
}

@media (max-width:520px) {
    body > main .cover-text ul {
        width: 75%;
    }
}

body > main .cover-text li + li {
    margin-top: 10px;
}

body > main .cover-text ul p {
    line-height: 1.8;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

body > main .cover-image {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/yungyikim.com/yungyikim_cover.png");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 400px;
    position: absolute;
}

body > main .cover-wrap {
    width: 100%;
    height: 400px;
    opacity: .2;
    background-color: rgba(108,108,108,.4);
    background-image: url("../img/overlay.png");
}

body > main section {
}

.slick-prev:before, .slick-next:before {
    color: #000;
}

body > main section.featured {
    min-height: 200px;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body > main section.featured .container {
}

body > main section.featured ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

body > main section.featured li {
    display: inline-block;
    vertical-align: middle;
}

body > main section.featured li + li {
    margin-left: 100px;
}

body > main section.featured .grayimg {
    filter: url(filters.svg#grayscale); /* Firefox */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Webkit */
    margin-left: auto;
    margin-right: auto;
 }

body > main section.featured .grayimg:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

body > main section.featured .grayimg.nginx{
    width: 160px;
    margin-top: 60px;
}

body > main section.featured .grayimg.django{
    width: 140px;
    margin-top: 55px;
}

body > main section.featured .grayimg.mysql {
    height: 160px;
}

body > main section.featured .grayimg.elasticsearch {
    height: 80px;
    margin-top: 35px;
}

body > main section.featured .grayimg.aws {
    margin-top: 55px;
}

body > main section.featured .grayimg.gulp {
    height: 80px;
    margin-top: 35px;
}

body > main section.featured .grayimg.angular{
    height: 80px;
    margin-top: 35px;
}

body > main section.featured .grayimg.jquery{
    width: 180px;
    margin-top: 55px;
}

body > main section.featured .grayimg.bootstrap {
    height: 80px;
    margin-top: 35px;
}

body > main section.featured .grayimg.semantic-ui {
    height: 80px;
    margin-top: 35px;
}

body > footer {
    background-color: #222222;
    width: 100%;
    display: table;
    height: 80px;
}

body > footer .wrap {
    display: table-cell;
    vertical-align: middle;
}

body > footer .copyright {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    color: #6f6f6f;
}

body > footer .copyright p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.9em;
}

body > footer .copyright p a {
    color: #999;
    font-weight: bold;
}

@media (min-width: 840px) {

}
