#blog .ui.sidebar.menu,
#blog .ui.fixed.menu {
    background-color: steelblue;
}

#blog .following.bar {
  position: fixed;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease
  ;
}

#blog .light.following.bar {
  padding: 1em 0em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

#blog .following.bar .menu a + a {
    margin-left: 15px;
}

#blog .masthead.segment.zoomed h1 {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
}
#blog .masthead.zoomed:after {
  opacity: 0;
}
#blog .masthead.zoomed {
  background-color: #25282A;
}


#blog .masthead {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;

  background-color: #000000;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#blog .masthead:after {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-size: cover;

  opacity: 0.45;
}
#blog .masthead.bg:after {
    background-image: url("/img/bg.jpg");
}
#blog .masthead,
#blog .masthead:after {
  -ms-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  -moz-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  -webkit-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
}
#blog .masthead .container {
  height: 55vh;
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 600px;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#blog .masthead .container {
  padding: 15rem 0em;
}

#blog .masthead.segment h1 {
  font-size: 3em;
  color: rgba(255, 255, 255, 1);
  line-height: 1;
  margin: 0px 0px 0px;
  padding-bottom: 0px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#blog .masthead.segment h1 .description {
  font-size: 0.4em;
  font-weight: 200;
}
#blog .masthead.segment h1 > .title {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#blog .masthead .ui.header {
    padding: 20px;
}



.slick-prev:before, .slick-next:before {
    color: #000;
}

#blog section.featured {
    min-height: 200px;
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#blog section.featured .container {
}

#blog section.featured ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

#blog section.featured li {
    display: inline-block;
    vertical-align: middle;
}

#blog section.featured li + li {
    margin-left: 100px;
}

#blog section.featured .grayimg {
    filter: url(filters.svg#grayscale); /* Firefox */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Webkit */
    margin-left: auto;
    margin-right: auto;
 }

#blog section.featured .grayimg:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#blog section.featured .grayimg.nginx{
    width: 160px;
    margin-top: 60px;
}

#blog section.featured .grayimg.django{
    width: 140px;
    margin-top: 55px;
}

#blog section.featured .grayimg.mysql {
    height: 160px;
}

#blog section.featured .grayimg.elasticsearch {
    height: 80px;
    margin-top: 35px;
}

#blog section.featured .grayimg.aws {
    margin-top: 55px;
}

#blog section.featured .grayimg.gulp {
    height: 80px;
    margin-top: 35px;
}

#blog section.featured .grayimg.angular{
    height: 80px;
    margin-top: 35px;
}

#blog section.featured .grayimg.jquery{
    width: 180px;
    margin-top: 55px;
}

#blog section.featured .grayimg.bootstrap {
    height: 80px;
    margin-top: 35px;
}

#blog section.featured .grayimg.semantic-ui {
    height: 80px;
    margin-top: 35px;
}

.ui.footer.segment {
  padding: 4em 0em;
  background-color: steelblue;
}


@media only screen and (max-width : 1040px) {
  #blog .following.bar .menu > .item {
    margin-right: 0.5em;
  }
}

@media only screen and (max-width : 810px) {
  #blog .masthead .container {
    margin-top: 50px;
  }
  #blog .following.bar .menu > .item {
    margin-right: 0.75em;
  }
  #blog .masthead .container {
    min-height: 350px;
    height: auto;
  }
    #blog .masthead.segment h1 .title {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
    #blog .masthead.segment h1 .description {
      line-height: 0;
    }
}

@media only screen and (min-width : 650px) {
    #blog .main.menu {
        display: none;
    }
}

@media only screen and (max-width : 649px) {
    #blog .following.bar {
        display: none;
    }
}

@media only screen and (max-width : 600px) {
    #blog .masthead .container {
        padding: 6rem 0rem;
    }
    #blog .masthead.segment h1 .title {
        font-size: 0.8em;
        margin-bottom: 20px;
    }
    #blog .masthead.segment h1 .description {
        line-height: 0;
    }
}

@media only screen and (max-width : 400px) {
    #blog .masthead.segment h1 .title {
        font-size: 0.8em;
        margin-bottom: 20px;
    }
    #blog .masthead.segment h1 .description {
        line-height: 0;
    }
}
