_pgbackup
dist
node_modules
.DS_Store
.idea
/assets/.DS_Store
/css/.DS_Store
img/.DS_Store
/app/api/migrations
/app/api/static/assets
/app/api/static/img
/app/api/static/bootstrap
/app/api/static/ui
*.pyc
*.log
setup/nohup.out
.vagrant/
app/db.sqlite3
setup/etc/uwsgi
