
body {
    background-color: #f1f1f1;
}

body > header {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(190, 190, 190, 0.5);
}

body > header .inner {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

body > header .dummy {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
}

body > header h3 {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    margin: 0;
}

body > header nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 160px);
    text-align: right;
}

body > header nav ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

body > header nav li {
    display: inline-block;
    vertical-align: middle;
}

body > header nav li + li {
    margin-left: 15px;
}

body > main {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

body > main article {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

body > main article .time-count {
    padding-bottom: 20px;
}

body > main article .time-count p {
    font-size: 1.2rem;
}

body > footer {
    background-color: #222222;
    width: 100%;
    display: table;
    height: 80px;
}

body > footer .wrap {
    display: table-cell;
    vertical-align: middle;
}

body > footer .copyright {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    color: #6f6f6f;
}

body > footer .copyright p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.9em;
}

body > footer .copyright p a {
    color: #999;
    font-weight: bold;
}

@media (min-width: 840px) {

}
