
#blog .following.bar {
  position: fixed;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease
  ;
}

#blog .light.following.bar {
  padding: 1em 0em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

#blog .following.bar .menu a + a {
    margin-left: 15px;
}

#blog main {
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#blog article {
    max-width: 800px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

#blog article .time-count {
    padding-bottom: 20px;
}

#blog article .time-count p {
    font-size: 1.2rem;
}

body > main article .time-count {
    padding-bottom: 20px;
}

body > main article .time-count p {
    font-size: 1.2rem;
}

.footer.segment {
  padding: 4em 0em;
}


@media only screen and (max-width : 1040px) {
  #blog .following.bar .menu > .item {
    margin-right: 0.5em;
  }
}

@media only screen and (max-width : 810px) {
  #blog .following.bar .menu > .item {
    margin-right: 0.75em;
  }
}

@media only screen and (min-width : 650px) {
    #blog .main.menu {
        display: none;
    }
}

@media only screen and (max-width : 649px) {
    #blog .following.bar {
        display: none;
    }

    #blog main {
        margin-top: 44px;
        padding-top: 44px;
        padding-bottom: 44px;
    }
}
